@use './variables.scss' as *;

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: Poppins;
}

body {
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
}

.logo {
	height: 10rem;
}
@media only screen and (max-width: 750px) {
	.logo {
		height: 7rem;
	}
}

a {
	text-decoration: none;
	color: $color-dark;

	&.active {
		color: $color-dark;
	}
}

.btn {
	padding: 1.5rem 2rem;
	font-family: 'Courier New', Courier, monospace;
	border: none;
	border-radius: 0.6rem;
	color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;

	a {
		color: $color-white;
		&.active {
			color: $color-white;
		}
	}

	&-primary {
		background-color: $color-primary;
	}
}

.caps {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}
.mg-top {
	margin-top: 3rem;
	&-lg {
		margin-top: 5rem;
	}
}
