@use './variables.scss' as *;

/*STYLING THE NAVBAR */

.nav {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	width: 90%;
	margin: 0 auto;
	align-items: center;
	font-size: 1.7rem;
	margin-top: 1rem;

	&-items {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 4rem;
		margin: 0 auto;

		a {
			color: $color-dark;
		}
	}
}
@media only screen and (max-width: 900px) {
	.nav {
		width: 98%;
		&-items {
			gap: 2rem;
		}
	}
}

/*STYLING THE HEADER*/
.header {
	height: auto;
	display: flex;
	align-items: center;
	width: 90%;
	margin: 0 auto;
	background-color: $color-light-grey;
	overflow: hidden;
	border-radius: 2rem;
	&-main {
		width: 50%;
		padding: 5rem;
		& h4 {
			margin: 0;
			padding: 0;
		}
		& h1 {
			margin-top: 0;
			font-size: 4.9rem;
			& .sub {
				font-family: Nanum Myeongjo;
				color: $color-primary;
			}
		}
		& .text {
			line-height: 1.8;
			min-width: 40rem;
		}
	}

	&-pic {
		width: 60%;
		min-width: 50rem;
		img {
			border-radius: 5rem;
		}
	}
}
