$color-primary: #d19e00;
$color-primary-light: #fffce1;

$color-secondary: #133f3f;

$color-tertiary: #e2f2ff;

$color-light-grey: #efefef;

$color-grey: #78748633;

$color-grey-dark: #787486;

$color-dark: #000;

$color-white: #fff;

$color-green: #4fac16;
$color-green-light: #dcfdd4;

$color-red: #ff0000;

$shadow-color: rgba(70, 118, 251, 0.4);
